*{
  box-sizing: border-box;
}

body {
  background-color: #CFD8DC;
  overflow: auto;
  margin: 0px auto;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

main {
  position: relative;
  height: 50%;
  background-color: #455A64;
}

section {
  padding: 15px;
  margin: 0px auto 10px;
  background-color: #CFD8DC;
  height: 100%;
}

h1{
  font-family: 'Open Sans', sans-serif;
  weight:800;
  padding: 25px;
  width:300px;
  margin:0px auto;
  display: block;
}
#title {
  color: #FFFFFF;
}

#enter-button {
  color: #FFFFFF;
  background-color: #FFC107;
}

#enter-button:hover {
  background-color: #FFD773
}

#web-title-input, #web-url-input{
  width:90%;
  display: block;
  font-size: 26px;
  margin: 20px auto;
  padding:10px;
  border:1px solid grey;
}
#enter-button {
  width: 90%;
  display: block;
  font-size: 20px;
  margin: 20px auto;
  padding:10px;
  border-width: 1px;
}

article {
  /*max-width: 300px;*/
  width: 80%;
  padding: 15px;
  padding-bottom: 40px;
  margin: 0px auto 10px;
  border: 1px #607D8B solid;
  background-color: #fff;
}

#web-title{
  border-bottom: #CFD8DC 1px solid;
  padding-bottom: 15px;
  font-weight: 800;
  color: #455A64;
  overflow: auto;
}

#web-url{
  text-decoration: underline;
  border-bottom: #CFD8DC 1px solid;
  display: block;
  color:#607D8B;
  padding-bottom: 15px;
  overflow: auto;
}

#web-url:hover{
  text-decoration: #FFC107 1px solid
}

#read-button,
#delete-button {
  display: block;
  position: relative;
  top: 10px;
  border: none;
  background-color: #FFFFFF;
  text-decoration: underline;
  outline: none;
}

#read-button{
  float: left;
}

#delete-button{
  float:right;
}

.read {
  color: #F05A28;
  text-decoration: none;
}

.notread {
  color: #607D8B;
}


@media (min-width:730px) {
  h1{
    width:100%
  }
  article{
    width: 80%;
  }
  img{
    width:65px;
  }

  main{
   float:left;
   height:100%;
   width:50%;
 }
  section{
    float:right;
    height:100%;
    width:50%;
  }
  #main-content{
    position: relative;
    top: 25%;
  }
  #title{
    font-size: 46px;
    text-align: center;
    width: 90%;
    padding:0px;
  }

  #enter-button,
  #web-title-input{
      margin:40px auto;
  }

}
