*{
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow: auto;
  margin: 0px auto;
  height: 700px;
}

main {
  position: relative;;
  height: 50%;
  background-color: #455A64;
}

section {
  padding: 15px;
  margin: 0px auto 10px;
  background-color: #CFD8DC;
  height: 100%%;
}
h1{
  font-family: open-sans;
  weight:800;
  padding: 25px;
  width:300px;
  margin:0px auto;
}
#title {
  color: #FFFFFF;
}

#enter-button {
  color: #FFFFFF;
  background-color: #FFC107;
}

#enter-button:hover {
  background-color: #FFD773
}

#web-title-input, #web-url-input{
  width:300px;
  display: block;
  font-size: 26px;
  margin: 20px auto;
  padding:10px;
  border:1px solid grey;
}
#enter-button{
  width:300px;
  display: block;
  font-size: 20px;
  margin: 20px auto;
  padding:10px;
  border-size:0px;
}

article{
  max-width: 300px;
  padding: 15px;
  padding-bottom: 40px;
  margin: 0px auto 10px;
  border: 1px #607D8B solid;
  background-color: #fff;
}

#web-title{
  border-bottom: #455A64 1px solid;
}
#web-url{
  border-bottom: #455A64 1px solid;
  display: block;
  color:#607D8B
}
#web-url:hover{
  border-bottom: #F2F4F4 1px solid
}
#read-button{
  display: block;
  float: left;
  position: relative;
  top: 10px;
}
#delete-button{
  display: block;
  float:right;
  position: relative;
  top: 10px;
}

@media (min-width:630px)
{
  h1{
    width:100%
  }
  article{
    width: 350px;
  }
  img{
    width:65px;
  }

  main{
   float:left;
   height:100%;
   width:50%;
 }
  section{
    float:right;
    height:100%;
    width:50%;
  }
  #main-content{
    position: relative;
    top: 25%;
  }
  #title{
    font-size: 46px;
    text-align: center;
    padding:0px;
  }

  #enter-button,
  #web-title-input{
      margin:40px auto;
  }

}
